//main-cards
.main-cards {
    .main-cards-text {
      text-align: center;
      color: $blue-drak;
      width: 500px;
      margin: 0 auto;
      h4 {
        margin-top: 16px;
        font-size: 18px;
        line-height: 2;
      }
      h2 {
        margin-top: 16px;
        font-size: 42px;
        line-height: 1.5;
        position: relative;
        span {
          color: $blue-light;
        }
        .span-card-text::after {
          content: "";
          position: absolute;
          right: 23px;
          top: 10px;
          width: 9px;
          height: 9px;
          border-right: 2px solid $blue-light;
          border-top: 2px solid $blue-light;
        }
      }
    }
    .main-cards-member {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 1920px;
      width: 1100px;
      margin: 30px auto;
      a {
        text-decoration: none;
      }
      .card-member-1 {
        position: relative;
        top: 0;
        margin: 24px 5px;
        height: 363px;
        border-radius: 16px;
        background: $white;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        transition: top 0.1s ease-in-out;
        padding-bottom: 24px;
        img {
          filter: drop-shadow(-3px 3px $blue-light);
          margin-top: 70px;
          border-radius: 50%;
          border: 1px solid #fff;
          outline: 2px solid #fff;
          object-fit: cover;
        }
        p {
          margin-top: 20px;
          color: $gray-light;
          text-align: center;
          font-size: 18px;
          line-height: 2;
        }
        h3 {
          margin-top: 2px;
          color: $blue-drak;
          text-align: center;
          font-size: 22px;
        }
      }
      .card-member-1:hover {
        cursor: pointer;
        top: -10px;
      }
      .modal {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(77, 77, 77, 0.7);
        transition: all 0.4s;
        visibility: hidden;
        opacity: 0;
        .modalcontent {
          margin-top: 30px;
          position: relative;
          background: #fff;
          padding: 1em 2em;
          border-radius: 4px;
          display: flex;
          gap: 20px;
          max-width: 800px;
          height: 500px;
          .imgs-modal {
            text-align: center;
            margin-top: 20px;
            .img-bg {
              width: 200px;
              margin-bottom: 10px;
            }
            .icon-1 {
              margin-right: 20px;
            }
            .icon-2 {
              margin-right: 20px;
            }
          }
          .texts-modal {
            margin-top: 10px;
            h3 {
              color: #627aa1;
              line-height: 2;
              font-size: 24px;
              font-weight: normal;
            }
            h2 {
              color: #1e293b;
              font-size: 34px;
            }
            p {
              margin-top: 20px;
              width: 350px;
              color: #1e293b;
              font-size: 14px;
            }
          }
          .modalclose {
            position: absolute;
            top: 0;
            right: 15px;
            color: #585858;
            text-decoration: none;
            font-size: 36px;
            margin: 20px;
            border-radius: 30.833px;
            border: 0.833px solid #ced6e2;
            background: #f7f9fc;
            width: 43px;
            text-align: center;
          }
        }
      }
      .modal:target {
        visibility: visible;
        opacity: 1;
      }
    }
  }