//
.main-introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    gap: 28px;
    max-width: 1920px;
    margin: 0 auto 5%;
    .main-introduce-imgs {
      display: flex;
      justify-content: end;
      position: relative;
      align-items: center;
      width: 460px;
      height: 400px;
      .img_woman {
        height: 250px;
      }
      .img_card {
        position: absolute;
        left: -70px;
        top: 183px;
        width: 380px;
      }
      .img_wave {
        position: absolute;
        right: 217px;
        z-index: -1;
        top: 140px;
      }
    }
    .main-introduce-text {
      width: 529px;
      h5 {
        color: $blue-drak;
        font-size: 20px;
      }
      h2 {
        color: $blue-drak;
        font-size: 28px;
        line-height: 2;
        position: relative;
        span {
          color: $blue-light;
        }
        .span::before {
          content: "";
          position: absolute;
          right: 1px;
          bottom: 6px;
          width: 9px;
          height: 9px;
          border-right: 2px solid $blue-light;
          border-bottom: 2px solid $blue-light;
        }
        .span::after {
          content: "";
          position: absolute;
          right: 1px;
          top: 10px;
          width: 9px;
          height: 9px;
          border-right: 2px solid $blue-light;
          border-top: 2px solid $blue-light;
        }
      }
      p {
        width: 440px;
      }
    }
  }