* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 20;
}

header .menu-desktop {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  padding: 10px 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-desktop .img-logo img {
  width: 50px;
}

header .menu-desktop .icons {
  position: absolute;
  right: 3%;
  font-size: 2.8rem;
  color: #000;
  cursor: pointer;
  display: none;
}

header .menu-desktop #check {
  display: none;
}

header .menu-desktop .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-desktop .navbar_menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .menu-desktop .navbar_menu a {
  text-decoration: none;
  color: #1e293b;
  font-size: 18px;
}

header .menu-desktop .navbar_menu .navbar_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .menu-desktop .navbar_menu .navbar_btns input {
  all: unset;
  background-color: #2977d7;
  width: 110px;
  border: 1px solid #2977d7;
  border-radius: 8px;
  height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  cursor: pointer;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang a {
  text-decoration: none;
  color: #1e293b;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown {
  position: absolute;
  top: 44px;
  left: -41px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 15px;
  width: 250px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown {
  list-style: none;
  padding: 10px 12px;
  border-radius: 15px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
  color: #1e293b;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown:hover {
  background-color: #b8d7e4;
  color: #fff;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:hover {
  cursor: pointer;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:hover .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:focus .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1920px) {
  header .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  header .navbar_menu input {
    border: 2px solid #2977d7;
    background-color: #2977d7;
    color: #fff;
  }
}

@media (max-width: 1440px) {
  header nav .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
  }
  header .menu-desktop .icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .menu-desktop .icons #close-icon {
    display: none;
  }
  header .menu-desktop .navbar_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header .menu-desktop .navbar_menu ul {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  header .menu-desktop .navbar_menu ul a {
    font-size: 26px;
  }
  header .menu-desktop .navbar_menu .navbar_btns .btn_header {
    cursor: pointer;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang {
    position: relative;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px;
    height: 160px;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown {
    text-align: center;
    width: 100%;
    border-radius: 15px;
  }
  header .menu-desktop .navbar_menu .box_lang:hover .lang-list-dropdown {
    opacity: 1;
    visibility: visible;
  }
  header .menu-desktop .navbar_menu .box_lang:focus .lang-list-dropdown {
    opacity: 1;
    visibility: visible;
  }
  header #check:checked ~ .icons #menu-icon {
    display: none;
  }
  header #check:checked ~ .icons #close-icon {
    display: block;
  }
  header #check:checked ~ .navbar_menu {
    height: 350px;
    padding: 10px 30px;
  }
}

.main-hero {
  top: 70px;
  max-width: 1920px;
  position: relative;
  background-color: #f4f8fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-hero .main-text {
  height: 200px;
  margin-left: 110px;
  line-height: 1.5;
}

.main-hero .main-text img {
  width: 130px;
}

.main-hero .main-text h4 {
  color: #1e293b;
  font-size: 20px;
}

.main-hero .main-text h1 {
  color: #1e293b;
  font-size: 42px;
}

.main-hero .main-text h1 span {
  color: #2977d7;
}

.main-hero .main-img {
  position: relative;
}

.main-hero .main-img img {
  position: absolute;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 230px;
  width: 630px;
}

@media screen and (max-width: 1400px) {
  .main-hero {
    position: relative;
    left: 0;
    height: 180px;
  }
  .main-hero .main-img {
    position: relative;
  }
  .main-hero .main-img img {
    position: absolute;
    right: 0;
    height: 200px;
    width: 530px;
  }
  .main-hero .main-text {
    position: relative;
    z-index: 10;
    margin-left: 50px;
  }
  .main-hero .main-text h1 {
    font-size: 36px;
  }
  .main-hero .main-text h4 {
    font-size: 20px;
  }
  .main-hero .main-text img {
    width: 100px;
  }
}

@media screen and (max-width: 900px) {
  .main-hero {
    position: relative;
    left: 0;
    height: 110px;
  }
  .main-hero .main-img {
    position: relative;
  }
  .main-hero .main-img img {
    position: absolute;
    right: 0;
    height: 130px;
    width: 300px;
  }
  .main-hero .main-text {
    position: relative;
    z-index: 10;
  }
  .main-hero .main-text h1 {
    font-size: 22px;
  }
  .main-hero .main-text h4 {
    font-size: 16px;
  }
  .main-hero .main-text img {
    width: 80px;
  }
}

@media screen and (max-width: 800px) {
  .main-hero .main-img {
    position: relative;
  }
  .main-hero .main-img img {
    position: absolute;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 120px;
    width: 220px;
  }
  .main-hero .main-text {
    position: relative;
    z-index: 10;
    margin-left: 40px;
  }
  .main-hero .main-text h1 {
    font-size: 20px;
  }
  .main-hero .main-text h4 {
    font-size: 14px;
  }
  .main-hero .main-text img {
    width: 80px;
  }
}

.main-introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  gap: 28px;
  max-width: 1920px;
  margin: 0 auto 5%;
}

.main-introduce .main-introduce-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
  height: 400px;
}

.main-introduce .main-introduce-imgs .img_woman {
  height: 250px;
}

.main-introduce .main-introduce-imgs .img_card {
  position: absolute;
  left: -70px;
  top: 183px;
  width: 380px;
}

.main-introduce .main-introduce-imgs .img_wave {
  position: absolute;
  right: 217px;
  z-index: -1;
  top: 140px;
}

.main-introduce .main-introduce-text {
  width: 529px;
}

.main-introduce .main-introduce-text h5 {
  color: #1e293b;
  font-size: 20px;
}

.main-introduce .main-introduce-text h2 {
  color: #1e293b;
  font-size: 28px;
  line-height: 2;
  position: relative;
}

.main-introduce .main-introduce-text h2 span {
  color: #2977d7;
}

.main-introduce .main-introduce-text h2 .span::before {
  content: "";
  position: absolute;
  right: 1px;
  bottom: 6px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #2977d7;
  border-bottom: 2px solid #2977d7;
}

.main-introduce .main-introduce-text h2 .span::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 10px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #2977d7;
  border-top: 2px solid #2977d7;
}

.main-introduce .main-introduce-text p {
  width: 440px;
}

.main-cards .main-cards-text {
  text-align: center;
  color: #1e293b;
  width: 500px;
  margin: 0 auto;
}

.main-cards .main-cards-text h4 {
  margin-top: 16px;
  font-size: 18px;
  line-height: 2;
}

.main-cards .main-cards-text h2 {
  margin-top: 16px;
  font-size: 42px;
  line-height: 1.5;
  position: relative;
}

.main-cards .main-cards-text h2 span {
  color: #2977d7;
}

.main-cards .main-cards-text h2 .span-card-text::after {
  content: "";
  position: absolute;
  right: 23px;
  top: 10px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #2977d7;
  border-top: 2px solid #2977d7;
}

.main-cards .main-cards-member {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 1920px;
  width: 1100px;
  margin: 30px auto;
}

.main-cards .main-cards-member a {
  text-decoration: none;
}

.main-cards .main-cards-member .card-member-1 {
  position: relative;
  top: 0;
  margin: 24px 5px;
  height: 363px;
  border-radius: 16px;
  background: #fff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 0.1s ease-in-out;
  transition: top 0.1s ease-in-out;
  padding-bottom: 24px;
}

.main-cards .main-cards-member .card-member-1 img {
  -webkit-filter: drop-shadow(-3px 3px #2977d7);
          filter: drop-shadow(-3px 3px #2977d7);
  margin-top: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: 2px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-cards .main-cards-member .card-member-1 p {
  margin-top: 20px;
  color: #627aa1;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

.main-cards .main-cards-member .card-member-1 h3 {
  margin-top: 2px;
  color: #1e293b;
  text-align: center;
  font-size: 22px;
}

.main-cards .main-cards-member .card-member-1:hover {
  cursor: pointer;
  top: -10px;
}

.main-cards .main-cards-member .modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(77, 77, 77, 0.7);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}

.main-cards .main-cards-member .modal .modalcontent {
  margin-top: 30px;
  position: relative;
  background: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 800px;
  height: 500px;
}

.main-cards .main-cards-member .modal .modalcontent .imgs-modal {
  text-align: center;
  margin-top: 20px;
}

.main-cards .main-cards-member .modal .modalcontent .imgs-modal .img-bg {
  width: 200px;
  margin-bottom: 10px;
}

.main-cards .main-cards-member .modal .modalcontent .imgs-modal .icon-1 {
  margin-right: 20px;
}

.main-cards .main-cards-member .modal .modalcontent .imgs-modal .icon-2 {
  margin-right: 20px;
}

.main-cards .main-cards-member .modal .modalcontent .texts-modal {
  margin-top: 10px;
}

.main-cards .main-cards-member .modal .modalcontent .texts-modal h3 {
  color: #627aa1;
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}

.main-cards .main-cards-member .modal .modalcontent .texts-modal h2 {
  color: #1e293b;
  font-size: 34px;
}

.main-cards .main-cards-member .modal .modalcontent .texts-modal p {
  margin-top: 20px;
  width: 350px;
  color: #1e293b;
  font-size: 14px;
}

.main-cards .main-cards-member .modal .modalcontent .modalclose {
  position: absolute;
  top: 0;
  right: 15px;
  color: #585858;
  text-decoration: none;
  font-size: 36px;
  margin: 20px;
  border-radius: 30.833px;
  border: 0.833px solid #ced6e2;
  background: #f7f9fc;
  width: 43px;
  text-align: center;
}

.main-cards .main-cards-member .modal:target {
  visibility: visible;
  opacity: 1;
}

.info-person {
  position: relative;
  height: 500px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 270px;
}

.info-person img {
  margin-top: 180px;
}

.info-person .info-person-text {
  position: absolute;
  margin-top: 50px;
  color: #1e293b;
  line-height: 2;
}

.info-person .info-person-text h4 {
  font-size: 24px;
}

.info-person .info-person-text h2 {
  font-size: 42px;
  position: relative;
}

.info-person .info-person-text h2 span {
  color: #2977d7;
}

.info-person .info-person-text h2 .span-person::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 21px;
  right: -7px;
  border-top: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.info-person .info-person-text p {
  width: 550px;
}

.info-person .info-person-content {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -240px;
}

.info-person .info-person-content .info-person-card {
  height: 500px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: #1e293b;
}

.info-person .info-person-content .info-person-card p {
  display: none;
}

.info-person .info-person-content .info-person-card h5 {
  color: #2977d7;
  line-height: 2;
  font-size: 16px;
}

.info-person .info-person-content .info-person-card h4 {
  font-size: 24px;
}

.info-person .info-person-content .info-person-card .border-circle {
  width: 190px;
  height: 190px;
  background-color: #1e293b;
  border-radius: 50%;
  position: relative;
}

.info-person .info-person-content .info-person-card .border-circle img {
  position: absolute;
  bottom: 15px;
  left: 24px;
}

footer UL {
  list-style: none;
}

footer .footer-content {
  border-top: 1px solid #ced6e2;
  max-width: 1920px;
  padding: 0 0 16px;
  margin: 0 16px;
  color: #627aa1;
  font-size: 12px;
}

footer .footer-content .footer-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

footer .footer-content .footer-imgs .footer-logo img {
  width: 40px;
}

footer .footer-content .footer-imgs a {
  text-decoration: none;
}

footer .footer-content .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .footer-text a {
  text-decoration: none;
  color: #627aa1;
}

footer .footer-content .footer-text a img {
  width: 20px;
}

footer .footer-content .footer-text .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

footer .footer-content .footer-text .footer-links .landing-footer {
  position: relative;
}

footer .footer-content .footer-text .footer-links .landing-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown {
  position: absolute;
  top: -135px;
  right: -7px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 10px;
  width: 190px;
  height: 135px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown .item-dropdown {
  list-style: none;
  padding: 10px 12px;
  border-radius: 15px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
  color: #1e293b;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown .item-dropdown:hover {
  background-color: #b8d7e4;
  color: #fff;
}

footer .footer-content .footer-text .footer-links .landing-footer:hover .lang-footer-list-dropdown {
  opacity: 1;
  visibility: visible;
}

footer .footer-content .footer-text .footer-links .landing-footer:focus .lang-footer-list-dropdown {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .footer-links a {
    color: red;
    font-size: 10px;
  }
}
/*# sourceMappingURL=about.css.map */