:root {
  --blue-light: #2977d7;
  --blue-drak: #1e293b;
  --bgcolor-hero: #f4f8fd;
  --white: #fff;
  --gray-light: #627aa1;
  --bgcolor-light: #f7f9fc;
  --black: #000;
  --border-color: #ced6e2;
  --bg-dropdown: #b8d7e4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 77px;
  z-index: 20;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

header nav {
  position: fixed;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  background-color: #fff;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  color: var(--blue-drak);
  font-size: 18px;
}

header nav .logo_navbar img {
  width: 40px;
}

header .navbar_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .navbar_btns input {
  all: unset;
  background-color: transparent;
  width: 110px;
  border: 1px solid var(--blue-light);
  border-radius: 8px;
  height: 40px;
  text-align: center;
  color: var(--blue-light);
  letter-spacing: 0.5px;
}

header .navbar_btns .box_lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

header .navbar_btns .box_lang .lang-list-dropdown {
  position: absolute;
  top: 44px;
  left: -41px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 15px;
  width: 250px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

header .navbar_btns .box_lang .lang-list-dropdown .item-dropdown {
  list-style: none;
  padding: 10px 12px;
  border-radius: 15px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
  color: #1e293b;
}

header .navbar_btns .box_lang .lang-list-dropdown .item-dropdown:hover {
  background-color: var(--bg-dropdown);
  color: #fff;
}

header .navbar_btns .box_lang:hover {
  cursor: pointer;
}

header .navbar_btns .box_lang:hover .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}

header .navbar_btns .box_lang:focus .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=blog.css.map */