* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1920px;
  min-width: 375px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 20;
}

header .menu-desktop {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  padding: 10px 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-desktop .img-logo img {
  width: 50px;
}

header .menu-desktop .icons {
  position: absolute;
  right: 3%;
  font-size: 2.8rem;
  color: #000;
  cursor: pointer;
  display: none;
}

header .menu-desktop #check {
  display: none;
}

header .menu-desktop .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-desktop .navbar_menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .menu-desktop .navbar_menu a {
  text-decoration: none;
  color: #1e293b;
  font-size: 18px;
}

header .menu-desktop .navbar_menu .navbar_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .menu-desktop .navbar_menu .navbar_btns input {
  all: unset;
  background-color: #2977d7;
  width: 110px;
  border: 1px solid #2977d7;
  border-radius: 8px;
  height: 40px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.5px;
  cursor: pointer;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang a {
  text-decoration: none;
  color: #1e293b;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown {
  position: absolute;
  top: 44px;
  left: -41px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 15px;
  width: 250px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown {
  list-style: none;
  padding: 10px 12px;
  border-radius: 15px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
  color: #1e293b;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown:hover {
  background-color: #b8d7e4;
  color: #fff;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:hover {
  cursor: pointer;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:hover .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}

header .menu-desktop .navbar_menu .navbar_btns .box_lang:focus .lang-list-dropdown {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1920px) {
  header .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  header .navbar_menu input {
    border: 2px solid #2977d7;
    background-color: #2977d7;
    color: #fff;
  }
}

@media (max-width: 1440px) {
  header nav .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (max-width: 768px) {
  header {
    position: relative;
  }
  header .menu-desktop .icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .menu-desktop .icons #close-icon {
    display: none;
  }
  header .menu-desktop .navbar_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  header .menu-desktop .navbar_menu ul {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  header .menu-desktop .navbar_menu ul a {
    font-size: 26px;
  }
  header .menu-desktop .navbar_menu .navbar_btns .btn_header {
    cursor: pointer;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang {
    position: relative;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 150px;
    height: 160px;
  }
  header .menu-desktop .navbar_menu .navbar_btns .box_lang .lang-list-dropdown .item-dropdown {
    text-align: center;
    width: 100%;
    border-radius: 15px;
  }
  header .menu-desktop .navbar_menu .box_lang:hover .lang-list-dropdown {
    opacity: 1;
    visibility: visible;
  }
  header .menu-desktop .navbar_menu .box_lang:focus .lang-list-dropdown {
    opacity: 1;
    visibility: visible;
  }
  header #check:checked ~ .icons #menu-icon {
    display: none;
  }
  header #check:checked ~ .icons #close-icon {
    display: block;
  }
  header #check:checked ~ .navbar_menu {
    height: 350px;
    padding: 10px 30px;
  }
}

.main-hero {
  background: #f4f8fd;
  height: 600px;
  border-radius: 0 0 40% 40%;
}

.box-hero {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.box-hero .box-hero-left {
  position: absolute;
  top: 0;
  left: 0;
}

.box-hero .box-hero-right {
  position: absolute;
  top: 0;
  right: 0;
}

.box-content-hero {
  padding-top: 210px;
  height: 500px;
  color: #1e293b;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.box-content-hero h6 {
  font-size: 22px;
}

.box-content-hero h1 {
  font-size: 50px;
}

.box-content-hero h1 span {
  color: #2977d7;
}

.box-content-hero p {
  margin: 16px auto 0;
  color: #1e293b;
  padding-top: 8px;
  line-height: 1.6;
}

.box-content-hero button {
  all: unset;
  background-color: #2977d7;
  margin-top: 20px;
  padding: 10px 34px;
  color: #fff;
  border-radius: 5px;
}

.box-content-hero a {
  text-decoration: none;
}

.box-introduce {
  max-width: 1290px;
  margin: -50px auto;
  position: relative;
  height: 480px;
}

.box-introduce .introduce_imgs {
  margin: 100px auto;
  position: relative;
}

.box-introduce .img-jupytervideo {
  position: absolute;
  right: 39%;
  top: 40px;
}

.box-introduce .img-rovrenvideo {
  position: absolute;
  z-index: 2;
  top: -290%;
  left: 40%;
}

.box-introduce .graphic-dot-img {
  position: absolute;
  top: 120px;
  width: 170px;
  height: 400px;
  right: 40px;
}

.box-arrow {
  width: 200px;
  margin: 40px 300px;
}

.box-arrow .img-arrow {
  position: absolute;
  z-index: 1;
  width: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: -10px;
  left: 23%;
}

.box-arrow .arrow-text {
  margin-left: 100px;
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  line-height: 1;
}

.box-arrow .arrow-text h2 {
  text-align: right;
  margin-bottom: 10px;
  color: #2977d7;
}

.intro-text {
  position: absolute;
  bottom: 100px;
  right: 250px;
  line-height: 1.8;
}

.intro-text h6 {
  font-size: 14px;
  color: #627aa1;
}

.intro-text h2 {
  font-size: 30px;
  position: relative;
}

.intro-text span {
  color: #2977d7;
}

.h2-inrto-text span::before {
  content: "";
  position: absolute;
  right: -16px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #2977d7;
  border-bottom: 2px solid #2977d7;
  bottom: -1px;
}

.h2-inrto-text ::after {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  border-right: 2px solid #2977d7;
  border-top: 2px solid #2977d7;
}

@media screen and (min-width: 992px) {
  .box-introduce {
    width: 700px;
    border: 2px solid;
  }
}

.trusted-by {
  background-color: #f7f9fc;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

.trusted-by .trusted-by-content {
  padding: 20px 10px 40px;
  line-height: 2;
  text-align: center;
}

.trusted-by .trusted-by-imgs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  margin: 20px auto;
}

.trusted-by .trusted-by-imgs img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trusted-by .trusted-by-text {
  position: relative;
}

.trusted-by .trusted-by-text h3 {
  font-size: 22px;
  position: relative;
  display: inline-block;
}

.trusted-by .trusted-by-text h3::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -10px;
  width: 9px;
  height: 9px;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}

.trusted-by .trusted-by-text span {
  font-weight: normal;
  font-size: 14px;
}

.main-cards {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.main-cards .box-background {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.main-cards .understand-quickly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.main-cards .understand-quickly h2 {
  color: #1e293b;
  text-align: center;
  font-size: 30px;
  position: relative;
  margin-bottom: 30px;
}

.main-cards .understand-quickly span {
  color: #2977d7;
}

.main-cards .understand-quickly .understand-quickly-title::before {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  bottom: -2px;
  border-bottom: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.main-cards .understand-quickly .understand-quickly-title::after {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  top: -2px;
  border-top: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.main-cards .understand-quickly p {
  color: #1e293b;
  text-align: center;
  font-size: 16px;
  width: 990px;
  line-height: 150%;
}

.cards-content {
  max-width: 900px;
  margin: 100px auto;
}

.cord1-content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cord1-content .car1-text-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17px;
  background: #f4f8fd;
  width: 129px;
  height: 44px;
  padding: 20px 10px;
}

.cord1-content h2 {
  color: #1e293b;
  font-size: 32px;
  line-height: 140%;
}

.cord1-content p {
  margin-top: 8px;
  color: #1e293b;
  font-size: 14px;
  line-height: 150%;
  width: 350px;
}

.cord1-content .card1-img {
  position: relative;
}

.cord1-content .card1-img .img-1 {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cord1-content .card1-img .img-2 {
  position: absolute;
  right: 0px;
  top: -40px;
  width: 90px;
  height: 180px;
  z-index: -10;
}

.education {
  background-color: #f4f8fd;
  height: 400px;
}

.education .education-content {
  margin: 0 auto;
  padding: 15px 0;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education .education-texts-content {
  margin: 32px auto;
  color: #1e293b;
}

.education .education-texts-content h4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

.education .education-texts-content h2 {
  margin-bottom: 10px;
  position: relative;
}

.education .education-texts-content h2 span {
  color: #2977d7;
}

.education .education-texts-content h2 .span-education_title::after {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  top: -2px;
  border-top: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.education .education-texts-content h2 .span-education_title::before {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  bottom: -2px;
  border-bottom: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.education .education-texts-content p {
  width: 410px;
  margin-bottom: 40px;
}

.education .btn-education-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.education .btn-education-title .btn-1 {
  all: unset;
  background-color: #2977d7;
  width: 80px;
  padding: 13px 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
}

.education .btn-education-title .btn-1 a {
  color: #fff;
  text-decoration: none;
}

.education .btn-education-title .btn_2 {
  all: unset;
}

.education .btn-education-title .btn_2 .link-btn-education {
  text-decoration: none;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #2977d7;
}

.education .education-imgs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  min-height: 300px;
  max-width: 380px;
  margin: 32px auto 0;
}

.education .education-imgs-content .icon {
  position: absolute;
  width: 60px;
  top: 5%;
  left: 23%;
}

.education .education-imgs-content .img-woman {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1;
}

.education .education-imgs-content .img-man {
  position: absolute;
  width: 75%;
  bottom: 10px;
  left: 50px;
  z-index: 1;
}

.education .education-imgs-content .img-dots {
  position: absolute;
  top: 220px;
  right: 70%;
}

.how_works {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.how_works .how_works_img {
  position: absolute;
  width: 356px;
}

.how_works .how_works_text {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.how_works .how_works_text h1 {
  position: relative;
  font-size: 32px;
  color: #1e293b;
}

.how_works .how_works_text h1 span {
  color: #2977d7;
}

.how_works .how_works_text h1 .span_how_works::after {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  top: -2px;
  border-top: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.how_works .how_works_text h1 .span_how_works::before {
  content: "";
  position: absolute;
  right: -18px;
  width: 9px;
  height: 9px;
  bottom: -2px;
  border-bottom: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
}

.how_works .how_works_text p {
  width: 551px;
  text-align: center;
  margin-top: 10px;
  color: #1e293b;
}

.how_works .slide_btns {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
}

.how_works .slide_btns p {
  font-size: 22px;
  font-weight: bold;
  color: #1e293b;
}

.how_works .img_slider {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 10;
}

.how_works .img_slider p {
  margin: 0 auto;
  width: 669px;
  text-align: center;
  line-height: 1.5;
}

.take_content {
  margin: 0 auto;
  background-color: #f4f8fd;
}

.take_content .take_title {
  margin: 50px auto;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

.take_content .take_title p {
  text-align: center;
  width: 560px;
  margin-top: 20px;
  line-height: 2;
}

.take_content .take_title .article_take_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.take_content .take_title .article_take_1 img {
  margin-bottom: 32px;
}

.take_content .box_article_take {
  max-width: 1000px;
  margin: 10px auto;
  color: #1e293b;
}

.take_content .box_article_take .article_take_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.take_content .box_article_take .article_take_1 h2 {
  position: relative;
}

.take_content .box_article_take .article_take_1 h2 span {
  position: absolute;
  color: #2977d7;
}

.take_content .box_article_take .article_take_1 h2 .span_take_1::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
  top: -4px;
  right: -18px;
}

.take_content .box_article_take .article_take_1 h2 .span_take_1::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #2977d7;
  border-right: 2px solid #2977d7;
  bottom: -6px;
  right: -18px;
}

.take_content .box_article_take .article_take_1 p {
  margin-top: 17px;
  width: 460px;
  line-height: 1.5;
}

.take_content .box_article_take .article_take_1 .img-article-1 {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.take_content .box_article_take .article_take_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.take_content .box_article_take .article_take_2 .img-article-2 {
  width: 400px;
}

.take_content .box_article_take .article_take_2 p {
  width: 480px;
  line-height: 1.5;
  margin-top: 10px;
}

.take_content .box_article_take .article_take_2 h2 {
  position: relative;
}

.take_content .box_article_take .article_take_2 h2 span {
  color: #2977d7;
}

.take_content .box_article_take .article_take_2 .h2_take-2::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #1e293b;
  border-right: 2px solid #1e293b;
  top: -6px;
  right: -3px;
}

.take_content .box_article_take .article_take_2 .h2_take-2::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #1e293b;
  border-right: 2px solid #1e293b;
  bottom: -6px;
  right: -3px;
}

footer UL {
  list-style: none;
}

footer .footer-content {
  border-top: 1px solid #ced6e2;
  max-width: 1920px;
  padding: 0 0 16px;
  margin: 0 16px;
  color: #627aa1;
  font-size: 12px;
}

footer .footer-content .footer-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

footer .footer-content .footer-imgs .footer-logo img {
  width: 40px;
}

footer .footer-content .footer-imgs a {
  text-decoration: none;
}

footer .footer-content .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content .footer-text a {
  text-decoration: none;
  color: #627aa1;
}

footer .footer-content .footer-text a img {
  width: 20px;
}

footer .footer-content .footer-text .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

footer .footer-content .footer-text .footer-links .landing-footer {
  position: relative;
}

footer .footer-content .footer-text .footer-links .landing-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown {
  position: absolute;
  top: -135px;
  right: -7px;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  background-color: white;
  border-radius: 10px;
  width: 190px;
  height: 135px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown .item-dropdown {
  list-style: none;
  padding: 10px 12px;
  border-radius: 15px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  font-weight: 600;
  color: #1e293b;
}

footer .footer-content .footer-text .footer-links .landing-footer .lang-footer-list-dropdown .item-dropdown:hover {
  background-color: #b8d7e4;
  color: #fff;
}

footer .footer-content .footer-text .footer-links .landing-footer:hover .lang-footer-list-dropdown {
  opacity: 1;
  visibility: visible;
}

footer .footer-content .footer-text .footer-links .landing-footer:focus .lang-footer-list-dropdown {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .footer-links a {
    color: red;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */