:root {
  /*===== Colores =====*/
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}
.info-form {
  height: 90vh;
  margin: 200px 0;
  .info-form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 740px;
    height: 180px;
    margin: 30px auto;
    text-align: center;
    color: $blue-drak;
    gap: 10px;
    h2 {
      font-size: 30px;
      line-height: 1.5;
      position: relative;
      span {
        color: $blue-light;
      }
      .span-info::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        top: 1px;
        right: -17px;
        border-top: 2px solid $blue-drak;
        border-right: 2px solid $blue-drak;
      }
    }
    p {
      width: 500px;
      line-height: 1.5;
      font-size: 14px;
    }
  }
}
.form-content {
  margin: 0 auto;
  width: 350px;
  form {
    margin: 20px auto;
    width: 350px;
    .input-group {
      position: relative;
      margin: 20px 0;
      input {
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #979fa8;
        background: #eff2f6;
        border: 1px solid #627aa1;
        outline: none;
        border-radius: 5px;
        padding: 0 10px;
      }
      label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 14px;
        color: #627aa1;
        padding: 0 10px;
        transition: 0.5s;
      }
    }
    .input-group input:focus ~ label,
    .input-group input:valid ~ label {
      top: 0;
      font-size: 15px;
      background: linear-gradient(#ffffff, #eff2f6);
      z-index: 20;
    }
    .select-box {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .select-box .options-container {
      background: #eff2f6;
      color: #f5f6fa;
      max-height: 0;
      width: 100%;
      opacity: 0;
      transition: all 0.4s;
      border-radius: 8px;
      overflow: hidden;
      order: 1;
      position: absolute;
      top: 48px;
    }
    .selected {
      background: #eff2f6;
      border-radius: 8px;
      margin-bottom: 8px;
      color: #627aa1;
      position: relative;
      font-size: 14px;
      order: 0;
      border: 1px solid #627aa1;
    }
    .selected::after {
      content: "";
      background: url("/imgs/blog/arrow-left.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      width: 32px;
      right: 10px;
      top: 5px;
      transition: all 0.4s;
    }
    .select-box .options-container.active {
      max-height: 240px;
      opacity: 1;
    }
    .select-box .options-container.active + .selected::after {
      transform: rotateX(180deg);
      top: -6px;
    }

    .select-box .option,
    .selected {
      padding: 12px 24px;
      cursor: pointer;
    }
    .select-box .option:hover {
      background: #ced6e2;
      border-radius: 10px;
    }
    .select-box label {
      cursor: pointer;
      font-size: 14px;
      color: #627aa1;
    }
    .select-box .option .radio {
      display: none;
    }
    textarea {
      height: 169px;
      width: 100%;
      color: #627aa1;
      background: #eff2f6;
      outline: none;
      border: 1px solid #627aa1;
      padding: 10px;
      font-size: 14px;
      border-radius: 8px;
      margin-bottom: 10px;
      resize: none;
    }
    button {
      all: unset;
      a {
        width: 350px;
        background-color: #1a73e8;
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
      }
    }
  }
  P {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    gap: 5px;
    color: #1e293b;
    width: 100%;
    span {
      color: #f7761e;
    }
  }
  .modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    .modalcontent {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      position: relative;
      background: #fff;
      padding: 1em 2em;
      border-radius: 4px;
      display: flex;
      gap: 20px;
      max-width: 800px;
      height: 350px;
      width: 550px;
      .img-modal {
        text-align: center;
        .img-bg {
          width: 200px;
        }
      }
      .texts-modal {
        h3 {
          color: #1a1f27;
          font-size: 28px;
          font-weight: normal;
        }
        p {
          width: 370px;
          color: #1e293b;
          font-size: 14px;
          text-align: center;
          margin-bottom: 50px;
        }
      }
      .modalclose {
        position: absolute;
        top: 0;
        right: 15px;
        color: #585858;
        text-decoration: none;
        font-size: 36px;
        margin: 20px;
        border-radius: 30.833px;
        border: 0.833px solid #ced6e2;
        background: #f7f9fc;
        width: 43px;
        text-align: center;
      }
    }
  }
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .info-form {
    position: relative;
    .info-form-text {
      width: 600px;
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 13px;
        width: 500px;
      }
    }
    .form-content {
      .modalcontent {
        width: 420px;
        .texts-modal {
          h3 {
            font-size: 26px;
            text-align: center;
          }
          p {
            font-size: 14px;
            text-align: center;
            width: 350px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .info-form {
    position: relative;
    .info-form-text {
      width: 300px;
      h2 {
        font-size: 26px;
        .span-info::after {
          position: absolute;
          content: "";
          width: 9px;
          height: 9px;
          top: 1px;
          right: 25px;
          border-top: 2px solid $blue-drak;
          border-right: 2px solid $blue-drak;
        }
      }
      p {
        font-size: 13px;
        width: 310px;
      }
    }
    .form-content {
      form {
        width: 290px;

        a {
          width: 290px;
        }
      }
      p {
        margin: 10px 20px;
        font-size: 11px;
        img {
          width: 16px;
        }
      }
      .modalcontent {
        width: 350px;
        .texts-modal {
          h3 {
            font-size: 20px;
            text-align: center;
          }
          p {
            font-size: 12px;
            text-align: center;
            width: 230px;
          }
        }
      }
    }
  }
}
