//how_works
.how_works {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    .how_works_img {
      position: absolute;
      width: 356px;
    }
    .how_works_text {
      margin: 50px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      h1 {
        position: relative;
        font-size: 32px;
        color: $blue-drak;
        span {
          color: $blue-light;
        }
        .span_how_works::after {
          content: "";
          position: absolute;
          right: -18px;
          width: 9px;
          height: 9px;
          top: -2px;
          border-top: 2px solid $blue-light;
          border-right: 2px solid $blue-light;
        }
        .span_how_works::before {
          content: "";
          position: absolute;
          right: -18px;
          width: 9px;
          height: 9px;
          bottom: -2px;
          border-bottom: 2px solid $blue-light;
          border-right: 2px solid $blue-light;
        }
      }
      p {
        width: 551px;
        text-align: center;
        margin-top: 10px;
        color: $blue-drak;
      }
    }
    .slide_btns {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 400px;
      p {
        font-size: 22px;
        font-weight: bold;
        color: $blue-drak;
      }
    }
    .img_slider {
      text-align: center;
      margin-top: 20px;
      position: relative;
      z-index: 10;
      p {
        margin: 0 auto;
        width: 669px;
        text-align: center;
        line-height: 1.5;
      }
    }
  }