//trusted-by
.trusted-by {
    background-color: $bgcolor-light;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    .trusted-by-content {
      padding: 20px 10px 40px;
      line-height: 2;
      text-align: center;
    }
    .trusted-by-imgs {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      max-width: 1000px;
      margin: 20px auto;
      img {
        width: 150px;
        object-fit: cover;
      }
    }
    .trusted-by-text {
      position: relative;
      h3 {
        font-size: 22px;
        position: relative;
        display: inline-block;
      }
      h3::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -10px;
        width: 9px;
        height: 9px;
        border-left: 2px solid $black;
        border-top: 2px solid $black;
      }
      span {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }