//variables-colors
$blue-light: #2977d7;
$blue-drak: #1e293b;
$bgcolor-hero: #f4f8fd;
$white: #fff;
$gray-light: #627aa1;
$bgcolor-light: #f7f9fc;
$black: #000;
$border-color: #ced6e2;
$bg-dropdown: #b8d7e4;

